<div class="row">
    <div class="col-sm-4">
        <form action="/items" method="POST">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-titel"> Items</h3>
                </div>
                <div class="card-body">
                    
                    <div class="form-group">
                        <span class="small"><b>Cups</b></span>
                        <input type="text" class="form-control form-control-sm" onblur="selectEntidad()" id="cups" name="cups" placeholder="Cups" required>
                    </div>
                    <div class="form-group">
                        <span class="small"><b>Nombres</b></span>
                        <input type="text" class="form-control form-control-sm" id="nombre" name="nombre" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <span class="small"><b>Valor</b></span>
                        <input type="text" class="form-control form-control-sm" id="valor" name="valor"
                            placeholder="Registro Medicos" required>
                    </div>
                    <div class="form-group">
                        <span class="small"><b>Entidad*</b></span>
                        <div class="entidades"></div>
                    </div>
                   
                    <input type="hidden" id="id" name="id"> 
                    <div class="form-group">
                        <button id="ingresar" class="btn btn-primary btn-block">Ingresar</button>
                        
                    </div>
                </div>
            </div>
        </form>
        <div class="form-group">
            <button  onclick="actualizarMedico()" id="actualizar" class="btn btn-warning btn-block" style="visibility: hidden;">Actualizar</button>
        </div>
    </div>
    <div class="col-sm-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Cups</th>
                    <th scope="col" >Nombres</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Entidad</th>
                    <th> Acciones </th>                  
                </tr>
            </thead>
            <tbody>
                {{#if valores}}
                    {{#each valores}}
                    <tr>
                    <th scope="row" class="small">{{cups}}</th>
                    <td class="small">{{nombre}}</td>
                    <td class="small">{{valor}}</td>
                    <td class="small">{{entidad}}</td> 
                    <td>
                        <a href="/delitems/{{id}}" class="btn btn-danger btn-sm" >del</a>
                        {{!-- <button class="btn btn-success btn-sm" onclick="consultarmedico({{cedula}});">mod</button> --}}
                    </td>                
                    </tr>
                    {{/each}}
                {{else}}
                 <tr>
                    <th scope="row" colspan="4">No hay  Items Creados</th>                    
                </tr>
                {{/if}}


            </tbody>
        </table>

    </div>
</div>