
<script>
function number_format(amount, decimals) {
    amount += ''; 
    amount = parseFloat(amount.replace(/[^0-9\.]/g, ''));
    decimals = decimals || 0; 
    if (isNaN(amount) || amount === 0) 
        return parseFloat(0).toFixed(decimals);
    amount = '' + amount.toFixed(decimals);
    var amount_parts = amount.split('.'),
        regexp = /(\d+)(\d{3})/;
    while (regexp.test(amount_parts[0]))
        amount_parts[0] = amount_parts[0].replace(regexp, '$1' + ',' + '$2');
    return amount_parts.join('.');
  }

</script>

<div class="row m-4">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-primary btn-sm" onclick="ImprimirHc()"><i class="fas fa-print"
                style="font-size: 20px;"></i></a>
        <a href="/facturas" class="btn btn-warning btn-sm"><i class="fas fa-reply" style="font-size: 20px;"></i></a>
    </div>
</div>
<div class="container m-1 " id='imp'>
      <h4>Anexo de factura .:: {{i.codigo}} ::.</h4>
    <div class="row small ml-3 mr-2" style="background-color: aqua;">        
        <div class="col-sm-1 border"><b>Cedula</b></div>
        <div class="col-sm-2 border"><b>Nombres</b></div>
        <div class="col-sm-1 border"><b>Cups</b></div>
        <div class="col-sm-5 border"><b>Examen/Consulta</b></div>
        <div class="col-sm-2 border"><b>Valor</b></div>
        <div class="col-sm-1 border"><b>Fecha</b></div>
    </div>   
    {{#each f}}    
    <div class="row small ml-3 mr-2">        
        <div class="col-sm-1 border">{{hc.paciente.cedula}}</div>
        <div class="col-sm-2 border">{{hc.paciente.nombre}} {{hc.paciente.snombre}} {{hc.paciente.apellido}} {{hc.paciente.sapellido}}</div>
        <div class="col-sm-1 border">{{hc.item.cups}}</div>
        <div class="col-sm-5 border">{{hc.item.nombre}}</div>
        <div class="col-sm-2 border">$ <script>document.write(number_format(parseInt('{{hc.valor}}'), 2))</script></div>
        <div class="col-sm-1 border">{{hc.fecha}}</div>
    </div>
{{/each}}
    <div class="row">
        <div class="col-sm-9"></div>
        <div class="col-sm-2"><b>$ {{total}}</b></div>
    </div>
</div>

