<div class="row">
    <div class="col-sm-2 ">
        <div class="form-group">
            <span class="small"><b>Fecha inicial</b></span>
            <input type="date" class="form-control form-control-sm" name="ini" id="ini">
        </div>
    </div>
    <div class="col-sm-2 ">
        <div class="form-group">
            <span class="small"><b>Fecha Final</b></span>
            <input type="date" class="form-control form-control-sm" name="fin" id="fin">
        </div>
    </div>
    <div class="col-sm-3 mr-2">
        <span class="small"><b>...</b></span>
        <div class="form-group">
            <button class="btn btn-success btn-sm" onclick="consultarFactura()">buscar</button>
        </div>
    </div>
</div>

<div class="card">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Entidad</th>
                <th scope="col">Paciente</th>
                <th scope="col">Valor</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody id="res">
            {{#each valores}}
            <tr>
                <th scope="row">{{prefijo}}{{consecutivo}}</th>
                <td>{{eps.rsocial}}</td>
                <td>{{fecha}}</td>
                <td>{{paciente.nombre}} {{paciente.apellido}} {{paciente.sapellido}}</td>
                <td>${{total}}</td>
                <td><button class="btn btn-warning btn-sm" data-toggle="modal" onclick="getfac({{consecutivo}})" data-target="#facturaprint">ver</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>



<div class="container">
    <div class="modal fade" id="facturaprint">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

                <!-- cabecera del diálogo -->
                <div class="modal-header">
                    <h5 class="modal-title">::Factura::</h5>
                    <button type="button" class="close" data-dismiss="modal">X</button>
                </div>

                <!-- cuerpo del diálogo -->
                <div class="modal-body">
                    <div id="print" >
                        <table border="1">
                            <tr>
                                <td style="padding-left: 5px; "><img src="img/logo.png" alt="" width="200px"></td>
                                <td> 
                                    <div style="padding: 20px;">CARLOS PARRA BUSINESS MEDICAL CENTER S.A.S
                                    <p style="padding-left: 25%;">Nit: 900980769-3</p>
                                    <p>CARTAGENA BRR BOCAGRANDE CR 37 133 L4</p></div>
                                </td>
                                <td style="padding-left: 20px; padding-right: 20px;"><b>FACTURA DE VENTA</b><br><b>Nro. ###</b></td>
                            </tr>
                            <tr>
                                <td colspan="3"> <p style="padding-left: 25%; margin-bottom: 0px;">SOMOS REGIMEN COMUN RESPONSABLES DE IVA</p></td>                                
                            </tr>
                            <tr>
                                <td colspan="3"> <p style="padding-left: 5%; margin-bottom: 0px; font-size: 12px;">RESOLUCION DIAN Nro 18763003744185 DEL 2020/01/29 VIGENCIA 24 MESES AUTORIZA PREFIJO # 125 AL 2250</p></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="row m-2">
                                        <div class="col-sm-6">PACIENTE:</div>
                                        <div class="col-sm-6">CC:</div>
                                    </div>
                                    <div class="row m-2">
                                        <div class="col-sm-6">DIRECCION:</div>
                                        <div class="col-sm-6">FECHA:</div>
                                    </div>
                                     <div class="row m-2">
                                        <div class="col-sm-6">CIUDAD:</div>
                                        <div class="col-sm-6">MEDICO:</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="row m-2 border">
                                        <div class="col-sm-3"><b>Procedimiento</b></div>
                                        <div class="col-sm-3"><b>Cups</b></div>
                                        <div class="col-sm-2"><b>Nro Aurizacion</b></div> 
                                        <div class="col-sm-2"><b>% IVA</b></div>
                                        <div class="col-sm-2"><b>Valor</b></div>
                                    </div>
                                       <div class="row m-2 border">
                                        <div class="col-sm-3">####</div>
                                        <div class="col-sm-3">####</div>
                                        <div class="col-sm-2">####</div>                                        
                                        <div class="col-sm-2">####</div>                                        
                                        <div class="col-sm-2">####</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="card pt-5 pb-5 pl-2 pr-2 mt-2 ml-2 mt-2 mb-2 mr-0">
                                                <hr class="m-0 p-0">
                                                <b class="small">Carlos Parra Bussiness Medical</b>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                             <div class="card p-5 mt-2 ml-2 mt-2 mr-0 mb-2 ">
                                                <hr class="m-0 p-0">
                                                <b class="small">Guillet Veronique</b>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card m-3 p-2 small">
                                                <div class="row">
                                                    <div class="col-sm-6">SubTotal</div>
                                                    <div class="col-sm-6">####</div>                                                    
                                                </div>
                                                 <div class="row">
                                                    <div class="col-sm-6">Descuento</div>
                                                    <div class="col-sm-6">####</div>                                                    
                                                </div>
                                                 <div class="row">
                                                    <div class="col-sm-6">IVA</div>
                                                    <div class="col-sm-6">####</div>                                                    
                                                </div>
                                                 <div class="row">
                                                    <div class="col-sm-6">TOTAL</div>
                                                    <div class="col-sm-6">####</div>                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="row">
                                        <div class="col-sm-12" style="padding-left: 35%;">www.carlosparra.com.co</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!-- pie del diálogo -->
                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="imprimirElemento()">Imprimir</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>

</div>