<div class="container m-1">
    <div id="alert"></div>
    <h5><b>.::Prefacturacion::.</b></h5>
    <form action="/prefactura" method="post">
        <div class="row">
            <div class="col-sm-3">
                <span class="small"><b>Entidades</b></span>
                <select name="entidad" id="entidad" onchange="tipoFactura()" class="form-control form-control-sm">
                    <option value="">.::Seleccionar::.</option>
                    {{#each entidades}}
                    <option value="{{nit}}">{{rsocial}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-sm-2">
                <span class="small"><b>Inicial</b></span>
                <input type="date" id="ini" name="ini" class="form-control form-control-sm">
            </div>
            <div class="col-sm-2">
                <span class="small"><b>Final</b></span>
                <input type="date" id="fin" name="fin" class="form-control form-control-sm">
            </div>
            <div class="col-sm-5 mt-4">
                <div class="row">
                    <div class="col-sm-3"><button class="btn btn-success btn-sm"><i class='fas fa-search' style='font-size:12px'></i> Buscar</button></div>
                    <div class="col-sm-3"> <div id="factBotton"></div>   </div>
                </div>
            </div>
    </div>
    </form>
    <div class="row mt-3">
    <div class="col-sm-12">
    <table class="table small">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Periodo</th>
      <th scope="col">Paciente</th>
      <th scope="col">Entidad</th>
      <th scope="col">Item</th>
      <th scope="col">Valor</th>
      <th scope="col">Acciones</th>

    </tr>
  </thead>
  <tbody>
      {{#each prefacturas}}
    <tr>
      <th scope="row">1</th>
      <td>{{hc.fecha}}</td>
      <td>{{hc.paciente.nombre}} {{hc.paciente.snombre}} {{hc.paciente.apellido}} {{hc.paciente.sapellido}}</td>
      <td>{{hc.entidad.rsocial}}</td>
      <td>{{hc.item.nombre}}</td>
      <td>$ {{hc.item.valor}}</td>
      <td>         
        
          <a href="/imprimirprefac/{{id}}" class="btn btn-primary btn-sm"><i class="fas fa-print" style="font-size: 16px;"></i></a>
      </td>

    </tr>
        {{/each}}
  </tbody>
</table>
        </div>
    </div>
</div>