<div class="row border" style="background-color: brown; color: cornsilk;">
    <div class="col-sm-2"><b>Nit</b></div>
    <div class="col-sm-2"><b>Nombre</b></div>
    <div class="col-sm-1"><b>Facturacion</b></div>
    <div class="col-sm-1"><b>contrato</b></div>
    <div class="col-sm-2"><b>Direccion</b></div>
    <div class="col-sm-1"><b>Telefono</b></div>
    <div class="col-sm-3"><b>Email</b></div>
</div>
{{#each entidades}}
<div class="row border">
    <div class="col-sm-2">{{nit}}</div>
    <div class="col-sm-2">{{rsocial}}</div>
    <div class="col-sm-1">{{tfac}}</div>
    <div class="col-sm-1">{{contrato}}</div>
    <div class="col-sm-2">{{direccion}}</div>
    <div class="col-sm-1">{{telefono}}</div>
    <div class="col-sm-3">{{email}}</div>
</div>
{{/each}}