<div class="row m-2">
    <div class="col-sm-2 mr-0 pr-0">
        <div class="form-group">
             <span class="small"><b>Cedula Paciente</b></span>
            <input type="text" name="cc" id="cc" placeholder="Cedula" class="form-control form-control-sm">
        </div>
    </div>
    <div class="col-sm-2 ml-0 pl-0 mt-4">
        <button class="btn btn-primary btn-sm" onclick="consultarPacienteporId()"><i class='fas fa-search' style='font-size:13px'></i></button>
    </div>

    <div class="col-sm-2 ml-0 pl-0">
        <span class="small"><b>Fecha Cita</b></span>
        <input type="date" name="fecha" id="fecha" placeholder="Fecha de Cita" class="form-control form-control-sm">
    </div>

      <div class="col-sm-2 ml-0 pl-0">
        <span class="small"><b>Medico</b></span>
        <select name="medico" id="medico" class="form-control form-control-sm" onchange="conCitas()">
            <option value="">Selecciones Medico</option>
            {{#each medicos}}
            <option value="{{cedula}}">{{nombres}}</option>
            {{/each}}
        </select>
    </div>
    
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Cedula</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">R.paciente</th>
                    <th> Acciones </th>

                </tr>
            </thead>
            <tbody id="cuerpo">
                {{#if valores}}
                {{#each valores}}
                <tr>
                    <th scope="row" class="small">{{cedula}}</th>
                    <td class="small">{{nombre}} {{apellido}} {{sapellido}}</td>
                    <td class="small">{{telefono}}</td>
                    <td class="small">{{direccion}}</td>
                    <td>
                        <a href="/verhc/{{cedula}}" class="btn btn-primary btn-sm"><i class='fas fa-h-square' style='font-size:16px'></i></a>
                        
                    </td>
                </tr>
                {{/each}}
                {{else}}
                <tr>
                    <th scope="row" colspan="4">No hay Registro de paciente</th>
                </tr>
                {{/if}}
            </tbody>
        </table>

    </div>
</div>