<div class="row">
    <div class="col-sm-6">
        <form action="/addpacientes" method="POST">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-titel"> Pacientes</h3>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span class="small"><b>T.Doc</b></span>
                                <select name="td" id="td" class="form-control form-control-sm">
                                    <option value="">T.Doc</option>
                                    <option value="CC">Cedula ciudadania</option>
                                    <option value="CE">Cedula de extramgeria</option>
                                    <option value="CD">Carnet diplomatico</option>
                                    <option value="PA">Pasaporte</option>
                                    <option value="SC">Salvo Conducto</option>
                                    <option value="PE">Permiso Especial</option>
                                    <option value="RC">Registro Civil</option>
                                    <option value="TI">Tarjeta de identidad</option>
                                    <option value="CN">Nacido vivo</option>
                                    <option value="AS">Adulto sin identidad</option>
                                    <option value="MS">Menor sin identidad</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <span class="small"><b>Cedula pacientes</b></span>
                                <input type="text" class="form-control form-control-sm" id="cedula" name="cedula"
                                    onblur="" placeholder="Cedula" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="small"><b>Nombres</b></span>
                        <div class="row ">
                            <div class="col-sm-3"><input type="text" class="form-control form-control-sm" id="nombre"
                                    name="nombre" placeholder="Nombre" required></div>
                            <div class="col-sm-3"><input type="text" class="form-control form-control-sm" id="snombre"
                                    name="snombre" placeholder="2do Nombre" required></div>
                            <div class="col-sm-3"><input type="text" class="form-control form-control-sm" id="apellido"
                                    name="apellido" placeholder="Apellido" required></div>
                            <div class="col-sm-3"><input type="text" class="form-control form-control-sm" id="sapellido"
                                    name="sapellido" placeholder="2do Apellido" required></div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="small"><b>Sexo</b></span>
                                <select name="sexo" id="sexo" class="form-control form-control-sm">
                                    <option value="">Seleccione Sexo</option>
                                    <option value="F">FEMENINO</option>
                                    <option value="M">MASCULINO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 p-0">
                            <span class="small"><b>F. Nacimiento</b></span>
                            <div class="form-group">
                                <input type="date" class="form-control form-control-sm" id="nacimiento"
                                    name="nacimiento">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <span class="small"><b>F. Nacimiento</b></span>
                            <div class="form-group">
                                <input type="number" name="edad" id="edad" class="form-control form-control-sm"
                                    placeholder="Edad">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <span class="small"><b>Unidad</b></span>
                            <div class="form-group">
                                <select name="unidad" id="unidad" class="form-control form-control-sm">
                                    <option value="1">años</option>
                                    <option value="2">mes</option>
                                    <option value="3">dia</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span class="small"><b>E.C</b></span>
                                <select name="sexo" id="sexo" class="form-control form-control-sm">
                                    <option value="">Estado Civil</option>
                                    <option value="S">Soltero</option>
                                    <option value="C">casado</option>
                                    <option value="U">u.libre</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span class="small"><b>Direccion</b></span>
                                <input type="text" class="form-control form-control-sm" id="direccion" name="direccion"
                                    placeholder="direccion pacientes" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <span class="small"><b>Telefono</b></span>
                                <input type="text" class="form-control form-control-sm" id="telefono" name="telefono"
                                    placeholder="Telfonos" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="small"><b>Email</b></span>
                                <input type="text" class="form-control form-control-sm small" id="email" name="email"
                                    placeholder="email" required>
                            </div>
                        </div>
                           <div class="col-sm-3">
                            <div class="form-group">
                                <span class="small"><b>Departamento</b></span>
                                <select name="departamento" id="departamento" class="form-control form-control-sm">
                                    <option value="">Departamento</option>                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="small"><b>Municipio</b></span>
                                <select name="municipio" id="municipio" onclick="localidades()" class="form-control form-control-sm">
                                    <option value="">Municipio</option>                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="small"><b>Z.residencial</b></span>
                                <select name="zresidencial" id="zresidencial" class="form-control form-control-sm">
                                    <option value="U">Urbana</option>                                    
                                    <option value="R">Rural</option>                                    
                                </select>
                            </div>
                        </div>
                    </div>

                
                    <input type="hidden" id="id" name="id">
                    <div class="form-group">
                        <button id="ingresar" class="btn btn-primary btn-block">Ingresar</button>

                    </div>
                </div>
            </div>
        </form>
        <div class="form-group">
            <button onclick="actualizarpaciente()" id="actualizar" class="btn btn-warning btn-block"
                style="visibility: hidden;">Actualizar</button>
        </div>
    </div>
    <div class="col-sm-6">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Cedula</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">R.paciente</th>
                    <th> Acciones </th>

                </tr>
            </thead>
            <tbody>
                {{#if valores}}
                {{#each valores}}
                <tr>
                    <th scope="row" class="small">{{cedula}}</th>
                    <td class="small">{{nombre}} {{apellido}} {{sapellido}}</td>
                    <td class="small">{{telefono}}</td>
                    <td class="small">{{direccion}}</td>
                    <td>
                        <a href="/delpaciente/{{id}}" class="btn btn-danger btn-sm">del</a>
                        {{!-- <button class="btn btn-success btn-sm" onclick="consultarpaciente({{cedula}});">mod</button> --}}
                    </td>
                </tr>
                {{/each}}
                {{else}}
                <tr>
                    <th scope="row" colspan="4">No hay Registro de paciente</th>
                </tr>
                {{/if}}


            </tbody>
        </table>

    </div>
</div>