<div class="card">
    <div class="card-header">
        <h4>pedidos Solicitados-Despacho</h4>
    </div>
<div class="card-body">
   <table class="table dtable">
    <thead>
        <tr>
            <th>Nro</th>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Observacion</th>
            <th>Solicitudes</th>
        </tr>
    </thead>
    <tbody>
      {{#each pedidos}}
        <tr>
            <td>{{nro}}</td>
            <td>{{fecha}}</td>
            <td>{{usuario}}</td>
            <td>{{observacion}}</td>
            <td><a class="btn btn-warning btn-sm" href="/verPedidoDespacho/{{_id}}">Solicitud</a></td>
        </tr>
       {{/each}}
    </tbody>
</table>
</div>
</div>

