<div class="card mb-3">
    <div class="card-header">
        <h4>Crear Producto</h4>
    </div>
    <div class="card-body">
        <form action="/crearInsumosform" method="POST">
            <div class="row">
                <div class="col-sm-2"><span class="small"><b>Codigo</b></span><input type="text" id="codigo" name="codigo"
                        class="form-control form-control-sm" value="{{codigo}}" readonly placeholder="Codigo de Productos" required></div>
                <div class="col-sm-6"><span class="small"><b>Nombres</b></span><input type="text" id="nombre" name="nombre"
                        class="form-control form-control-sm" placeholder="Nombre Producto" autocomplete="off" required>
                </div>
                <div class="col-sm-4"><span class="small"><b>Referencia</b></span><input type="text" id="referencia"
                        name="referencia" class="form-control form-control-sm" placeholder="Referencia Producto."
                        required></div>
            </div>
            <div class="row">
                <div class="col-sm-3"><span class="small"><b>Linea</b></span>
                <select name="linea" id="linea" class="form-control form-control-sm" required>
                  <option value="">selecciones</option>
                  <option>FERRETERIA</option>
                  <option>GLP</option>
                  <option>LUBRICANTE</option>
                  <option>SOLDADURA</option>
                  <option>PINTURA</option>
                  <option>ELECTRICO</option>
                  <option>PRIMEROS AUXILIOS</option>
                  <option>REPUESTOS</option>
                  <option>LIMPIEZA</option>
                  <option>EPI</option>
                  <option>LIBRERIA</option>
                  <option>SCI</option>
                  <option>HERRAMIENTA</option>
                  <option>DOTACION</option>
                  <option>OTRO</option>
                </select>
                </div>
                <div class="col-sm-3"><span class="small"><b>Marca</b></span><input type="text" id="marca" name="marca"
                        class="form-control form-control-sm" placeholder="Marca Producto" required></div>
                <div class="col-sm-3"><span class="small"><b>Unidad de Medida</b></span>
                <select name="medida" id="medida" class="form-control form-control-sm">
                  <option value="">seleccione</option>
                  <option value="UND">Unidad</option>
                  <option>Litros</option>
                  <option>Metros</option>
                  <option>Kgm</option>
                  <option>Galon</option>
                  <option>Gramos</option>
                </select>
                </div>
                  <div class="col-sm-3"><span class="small"><b>Cantidad Minima</b></span><input type="number" id="cantidad_minima" name="cantidad_minima"
                        class="form-control form-control-sm" placeholder="Cantidad Mimina" required></div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <button class="btn btn-success btn-sm btn-block" id="btnCrearProducto">Crear Producto</button>
                </div>
            </div>
        </form>
    </div>
</div>

   <table class="table dtable">
  <thead>
    <tr>
      <th scope="col">codigo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Line</th>
      <th scope="col">Marca</th>
      <th scope="col">Medida</th>
      <th scope="col">Costo</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Editar</th>

      {{!-- <th scope="col">Accion</th> --}}
    </tr>
  </thead>
  <tbody>
    {{#each productos}}
    <tr>
      <th>ITEM{{codigo_Articulo}}</th>
      <td>{{nombre_Articulo}}</td>
      <td>{{linea}}</td>
      <td>{{marca}}</td>
      <td>{{medida}}</td>
      <td>{{costo}}</td>
      <td>{{cantidad_Total}}</td>
      <td><span class="btn btn-warning btn-sm" onclick="editarProducto('{{codigo_Articulo}}')"> Editar</span></td>
     {{!--  <td><a class="btn btn-warning btn-sm" href="/eliminarproducto/{{_id}}"><i class="fas fa-trash"></i>Eliminar</a></td> --}}
    </tr>
    {{/each}}
    
  </tbody>
</table>