<h5>Informe de pedidos</h5>
    <a href="#" class="btn btn-primary btn-sm" onclick="Imprimir()">Imprimir</a>
<div id="imp">

    <div class="row">
      <div class="col"><h4>Orden #{{pedido.nro}}</h4></div>
    </div>
    <div class="row pb-2">
        <div class="col-sm-3"><b>Estado: </b> {{pedido.estado}}</div>
        <div class="col-sm-3"><b>Usuario:</b> {{pedido.usuario}}</div>
        <div class="col-sm-3"><b>Fecha:</b> {{pedido.fecha}}</div>
        <div class="col-sm-3"><b>Supervisor:</b> {{pedido.supervisor}}</div>

    </div>
    <div class="row">
    <div class="col-sm-12">
        <table class="table dtable">
            <thead>
                <tr>
                    <th scope="col">codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">ccosto</th>
                    <th scope="col">Solicitado</th>
                    <th scope="col">Autorizado</th>
                    <th scope="col">U.Medida</th>
                </tr>
            </thead>
            <tbody>              
                {{#each pedido.pedidos}}
                <tr>
                    <td>{{codigo}}</td>
                    <td>{{producto}}</td>
                    <td>{{nccosto}}</td>
                    <td>{{cantidad}}</td>
                    <td>{{autorizado}}</td>
                    <td>{{medida}}</td>
                </tr>
                {{/each}}
              
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-4"><span class="small"> <b>Recibido:</b> </span><hr></div>
</div>
</div>