<div class="card">
    <input type="hidden" value="{{id}}" id="id">
    <div class="card-header">
        <h4> Pedidos Solicitados por {{pedido.usuario}}</h4>
    </div>
<div class="card-body">
   <table class="table dtable">
    <thead>
      <tr>
        <th scope="col">Produco</th>
        <th scope="col">Autorizado</th>
        <th scope="col">Centro Costo</th>
      </tr>
    </thead>
    <tbody>
       {{#each pedido.pedidos}}
       <tr>
        <td>{{producto}}</td>
        <td>{{autorizado}} {{medida}}</td>
        <td>{{nccosto}}</td>
       </tr>
        <input type="hidden" id="cantidad{{codigo}}" readonly class="form-control form-control-sm" name="cantidad" value="{{autorizado}}" placeholder="Cantidad">
       {{/each}}
    </tbody>
  </table>
  
</div>
<div class="row">
  <div class="col-sm-12"><button class="btn btn-success btn-sm btn-block" onclick="Despachado('{{id}}')">Despachar pedido</button></div>
</div>
</div>