<div class="card">
    <input type="hidden" value="{{id}}" id="id">
    <div class="card-header">
        <h4>Solicitados por {{pedido.usuario}}</h4>
    </div>
<div class="card-body">

   <table class="table dtable">
          <thead>
            <tr>
              <th>Produco</th>
              <th>Ccosto</th>
              <th>Solicitado</th>
              <th>Autorizado</th>
              <th>Modifica</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tbody>
            {{#each pedido.pedidos}}
          <tr>
            <th>{{producto}}</th>
            <th>{{nccosto}}</th>
            <th>{{cantidad}}</th>
            <th>{{autorizado}}</th>
            <th><input type="text" id="cantidad{{codigo}}" class="form-control form-control-sm" name="cantidad" placeholder="Cantidad"></th>
            <th><span class="btn btn-info btn-sm" onclick="cambiarCantidad('{{codigo}}')"><i class='fas fa-edit' style='font-size:16px'></i></span></th>
          </tr>
           {{/each}}
          </tbody>
        </table>
 
</div>
<div class="row">
  <div class="col-sm-6"><button class="btn btn-success btn-sm btn-block" onclick="Autorizar()">Autorizar pedido</button></div>
  <div class="col-sm-6"><button class="btn btn-danger btn-sm btn-block" onclick="cancelarPedido()">Cancelar pedido</button></div>
</div>

</div>