<div class="row">
  <div class="col-sm-6">
    <form action="/vercitasfiltro" method="POST">
      <div class="row mt-3">
        <div class="col-sm-4">
          <div class="form-group">
            <span class="small"><b>Fecha</b></span>
            <input type="date" id="fecha" name="fecha" class="form-control form-control-sm" onchange="selectMedico()">
          </div>
        </div>
        <div class="col-sm-4">
          <span class="small"><b>Medico</b></span>
          <div id="selectmedico">
            <select name="medico" id="medico" class="form-control form-control-sm">
              <option value="">Seleciones</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-success btn-sm mt-4"><i class='fas fa-search' style='font-size:12px'></i>
            Buscar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-6">
    <form action="/vercitaspaciente" method="POST">
      <div class="row mt-3">
        <div class="col-sm-4">
          <div class="form-group">
            <span class="small"><b>Paciente</b></span>
            <input type="text" id="cc" name="cc" class="form-control form-control-sm">
          </div>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-success btn-sm mt-4"><i class='fas fa-search' style='font-size:12px'></i>
            Buscar</button>
        </div>
      </div>
    </form>
  </div>
</div>


<table class="table small mt-3">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Cedula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Medico</th>
      <th scope="col">Entidad</th>
      <th scope="col">Motivo</th>
      <th>accion</th>
    </tr>
  </thead>
  <tbody>
    {{#each valores}}
    {{#if data.estado}}
    <tr style="background-color: aqua;">
      <th>{{data.fecha}} {{data.hora}}</th>
      <td>{{data.paciente.cedula}}</td>
      <td>{{data.nombres}}</td>
      <td>{{data.nmedico}}</td>
      <td>{{data.nentidad}}</td>
      <td>{{data.nitem}}</td>
      <td>...</td>
    </tr>
    {{else}}
    <tr>
      <th>{{data.fecha}} {{data.hora}}</th>
      <td>{{data.paciente.cedula}}</td>
      <td>{{data.nombres}}</td>
      <td>{{data.nmedico}}</td>
      <td>{{data.nentidad}}</td>
      <td>{{data.item.nombre}}</td>
      <td>
        <div class="row">
          <div class="col-sm-6">
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#m{{id}}"
          ><i class='fas fa-user-check' style='font-size:12px'></i></button>        
          </div>
          <div class="col-sm-6">
            <a href="/borrarcita/{{id}}" class="btn btn-danger btn-sm"><i class='fas fa-trash-alt' style='font-size:12px'></i></a>
          </div>
        </div>
        {{!-- modal --}}
        <div class="modal fade" id="m{{id}}" tabindex="-1" role="dialog" aria-labelledby="accionLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="accionLabel">{{data.nombres}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/ensala/{{id}}" method="post">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6"><span class="small"><b>Copago</b></span><input type="number" id="copago"
                          name="copago" class="form-control form-control-sm" placeholder="Copago"></div>
                      <div class="col-sm-6"><span class="small"><b>Autorizacion</b></span><input type="text" id="Autorizacion"
                          name="autorizacion" class="form-control form-control-sm" placeholder="Autorizacion"></div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-sm-12"><button class="btn btn-primary btn-sm"><i class='far fa-save'
                            style='font-size:18px'></i> Guardar</button></div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      
              </div>
            </div>
          </div>
        </div>
        {{!-- /modal --}}
      </td>
    </tr>
    {{/if}}

    {{/each}}


  </tbody>
</table>

<!-- Button trigger modal -->