    <div class="col-sm-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Cedula</th>
                    <th scope="col" >Nombres</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">R.Medico</th>
                    <th> Acciones </th>
                  
                </tr>
            </thead>
            <tbody>
                {{#if valores}}
                    {{#each valores}}
                    <tr>
                    <th scope="row" class="small">{{cedula}}</th>
                    <td class="small">{{nombres}}</td>
                    <td class="small">{{telefono}}</td>
                    <td class="small">{{registro}}</td> 
                    <td>
                        <a href="/delmedico/{{id}}" class="btn btn-danger btn-sm" >del</a>
                        {{!-- <button class="btn btn-success btn-sm" onclick="consultarmedico({{cedula}});">mod</button> --}}
                    </td>                
                    </tr>
                    {{/each}}

                {{else}}
                 <tr>
                    <th scope="row" colspan="4">No hay  Registros de  Medico</th>                    
                </tr>
                {{/if}}


            </tbody>
        </table>

    </div>