<div class="row" style=" margin-top: 10%;">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h5><b>Registros de Usuarios</b></h5>
            </div>
            <div class="card-body">
                <form action="/login" method="post">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="small">Usuario</span>
                            <input type="text" name="user" id="user" class="form-control form-control-sm"
                                placeholder="Usuario:" onblur="consultarUsuario(1)" required autocomplete="off">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="small">Contrase単a</span>
                            <input type="password" name="password" id="password" class="form-control form-control-sm"
                                placeholder="Contrase単a" required autocomplete="off">
                        </div>
                        <div class="col-sm-6">
                            <span class="small">Repetir contrase単a</span>
                            <input type="password" name="password2" id="password2" onblur="compararPass()" id="password"
                                class="form-control form-control-sm" placeholder="Contrase単a" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <span class="small">Cordinador</span>
                            <select name="jefe" id="jefe" class="form-control form-control-sm">
                                <option value="">---</option>
                                {{#each users}}
                                <option value="{{medico}}">{{nombre}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-sm-1 mt-4">
                            <span href="#" class="btn btn-success btn-sm" onclick="cargarjefes()">+</span>
                        </div>
                        <div class="col-sm-6">
                            <span class="small">Sede/area</span>
                            <input type="text" name="nombre" id="nombre" class="form-control form-control-sm"
                                placeholder="Sede/Area" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="small">Empleado</span>
                            <input type="text" name="empleado" id="empleado" class="form-control form-control-sm"
                                placeholder="Empleado" required>
                        </div>
                        <div class="col-sm-6">
                            <span class="small">Cedula</span>
                            <input type="text" name="firma" id="firma" class="form-control form-control-sm"
                                placeholder="Cedula" required>
                        </div>
                    </div>
                    <div class="row m-5" id="chk">
                        <div class="col-sm-6">
                            <div class="card mx-auto">
                                <div class="card-header">
                                    Perfiles
                                </div>
                                <div class="card-body">
                                    <div id="c1"> Administrador: <input type="checkbox" id="p1" name="p1" value="si">
                                    </div>
                                    <div id="c2"> Sede: <input type="checkbox" id="p2" name="p2" value="si"></div>
                                    <div id="c3"> Cordinador: <input type="checkbox" id="p3" name="p3" value="si"></div>
                                    <div id="c4"> Bodega: <input type="checkbox" id="p4" name="p4" value="si"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" id="jef">
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-sm btn-block"> Ingresar </button>
                    </div>
            </div>
            <input type="hidden" id="jefes" name="jefes">
            </form>

        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <b>Usuarios</b>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Usuario</th>
                            <th scope="col">Perfil</th>
                            <th scope="col">Empleado</th>
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each userss}}
                        <tr>
                            <th scope="row">{{username}}</th>
                            <td>{{perfil}}</td>
                            <td>{{empleado}}</td>
                            <td><a href="/deluser/{{_id}}">eliminar</a> <a href="#" onclick="consultarUsuario({{username}})">editar</a></td>
                        </tr>
                        {{/each}}


                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>