<script>
 
</script>
<div class="row mt-3">
    <div class="col-sm-12">
        <table class="table table-striped">
  <thead>
    <tr>     
      <th scope="col">Fecha</th>
      <th scope="col">Cedula</th>
      <th scope="col">Paciente</th>
      <th scope="col">Eps</th>
      <th scope="col" colspan="2">Accion</th>
    </tr>
  </thead>
  
  <tbody >
    {{#each citas}}
    <tr>
      <td>{{fecha}}</td>
      <td>{{paciente.cedula}}</td>
      <td>{{paciente.nombre}} {{paciente.apellido}} {{apellido.spellido}}</td>
      <td>{{entidad.rsocial}}</td>
      <td><a href="/hclinicas/{{_id}}/{{paciente.cedula}}" class="btn btn-warning btn-sm"> <i class='fas fa-user-edit' style='font-size:16px'></i></a></td>
      <td><a href="/cancelar/{{_id}}" class="btn btn-danger btn-sm"> <i class='fas fa-user-alt-slash' style='font-size:16px'></i></a></td>
    </tr>
    {{/each}}
  </tbody>
  
</table>
    </div>
</div>