<style>
#padre{
  position:relative;
 
}

#hijo {
  position: absolute; 
  top: 0    ;
  left: 0;
  right: 0;
  margin: 0;
  width: 20px;
}
</style>
<div class="row m-4">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
        <a href="#" class="btn btn-primary btn-sm" onclick="ImprimirHc()"><i class="fas fa-print" style="font-size: 20px;"></i></a>
        <a href="/verhc" class="btn btn-warning btn-sm"><i class="fas fa-reply" style="font-size: 20px;"></i></a>
    </div>
</div>
{{#each valores}}
<div class="container m-4 p-3 border" id="imp">
   <div class="row mb-3">
       <div class="col-sm-4"><img src="/img/logoOrl.png"  width="200"></div>
       <div class="col-sm-8 pt-5 pl-5"><h1><b> Historia clinica</b></h1></div>
   </div> 
   <div class="border p-4">
        <div class="row">
        <div class="col-sm-4"><b>Nombre:</b> {{cita.paciente.nombre}} {{cita.paciente.snombre}} {{cita.paciente.apellido}} {{cita.paciente.sapellido}}</div>
        <div class="col-sm-4"><b>Edad: </b> {{cita.paciente.edad}}</div>
        <div class="col-sm-4"><b>Nro HC: </b> {{historia.codigo}}</div>
    </div>
     <div class="row">
        <div class="col-sm-4"><b>Estado Civil:</b> {{cita.paciente.ecivil}}</div>
        <div class="col-sm-4"><b>Ciudad:</b> Cartagena</div>
        <div class="col-sm-4"><b>Sexo:</b> {{cita.paciente.sexo}}</div>
    </div>
     <div class="row">
        <div class="col-sm-4"><b>Fecha HC</b> {{historia.fecha}}</div>
        <div class="col-sm-4"><b>Entidad:</b> {{cita.entidad.rsocial}}</div>
        <div class="col-sm-4"><b>Nacimiento:</b>  {{cita.paciente.nacimiento}}</div>
    </div> 

   </div>
   <div class="div border mt-2 p-3">
       <div class="row mb-3">
           <div class="col-sm-12">
               <b>MOTIVO DE CONSULTA: </b> {{historia.motivo}}
           </div>
       </div>
        <div class="row  mb-3">
           <div class="col-sm-12">
               <b>ENFEREMDAD ACTUAL: </b> {{historia.actual}}
           </div>
       </div>
       <div class="row mb-3">
           <div class="col-sm-12">
               <b>ANTECEDENTES: </b>
               <div class="row">
                   <div class="col-sm-4" ALIGN="justify"><span class="small"><b>Medicos: </b></span>{{historia.antecedentes.medicos}}</div>
                   <div class="col-sm-4" ALIGN="justify"><span class="small"><b>Quirurgicos: </b></span>{{historia.antecedentes.quirurgico}}</div>
                   <div class="col-sm-4" ALIGN="justify"><span class="small"><b>Toxico: </b></span>{{historia.antecedentes.toxico}}</div>
               </div>
                <div class="row">
                   <div class="col-sm-4" ALIGN="justify"><span class="small"><b>Traumaticos: </b></span>{{historia.antecedentes.traumatico}}</div>
                   <div class="col-sm-4" ALIGN="justify"><span class="small"><b>Familiares: </b></span>{{historia.antecedentes.familiares}}</div>
                   <div class="col-sm-4" ALIGN="justify"><span class="small"><b>Otros: </b></span>{{historia.antecedentes.otros}}</div>
               </div>
                
           </div>
       </div>
        <div class="row mb-3">
           <div class="col-sm-12">
               <b>EXAMEN FISICO: </b>
                <div class="row">
                   <div class="col-sm-4" ALIGN="justify"><span class="small"><b>Nariz: </b></span>{{historia.fisico.nariz}}</div>
                   <div class="col-sm-4" ALIGN="justify"><span class="small"><b>Boca: </b></span>{{historia.fisico.boca}}</div>
                   <div class="col-sm-4" ALIGN="justify"><span class="small"><b>Orofaringe: </b></span>{{historia.fisico.orofaringe}}</div>
               </div>
                <div class="row">
                   <div class="col-sm-4" ALIGN="justify"><span class="small"><b>Laringoscopia: </b></span>{{historia.fisico.laringoscopia}}</div>
                   <div class="col-sm-4" ALIGN="justify"><span class="small"><b>Oidos: </b></span>{{historia.fisico.oido}}</div>
                   <div class="col-sm-4" ALIGN="justify"><span class="small"><b>Cuello: </b></span>{{historia.fisico.cuello}}</div>
               </div>
           </div>
       </div>
        <div class="row mb-3">
           <div class="col-sm-12">
               <b>DIAGNOSTICO: </b> {{historia.impdiag}}
           </div>
       </div>
        <div class="row mb-3">
           <div class="col-sm-12">
               <b>PLAN: </b> {{historia.plan}}
           </div>
       </div>
   </div>
   <div class="border mt-2 p-4">

       <div class="row">
           <div class="col-sm-4 padre" >
               <img src="/img/firmas/1047384229.png" class="m-0 p-0 hijo" width="180">                             
               <hr class="m-0 p-0">
               <b class="mt-0 mr-4">{{historia.medico.nombres}}</b><br>             
               <b class="mt-0 mr-4">{{historia.medico.especialidad}}</b><br>            
               <b class="mt-0 mr-4">RM:{{historia.medico.registro}}</b><br>            
           </div>
       </div>
   </div>
</div>


{{/each}}