<form action="/crearhc" method="POST" id="hcform">
    <div class="row mt-3 small" style="margin-left: 0%;">
        <div class="col-sm-12">
            {{#each valores}}
            <div class="row mt-3 mb-3">
                <div class="col-sm-2"><span class="small"><b>Cedula</b></span><input type="text" name="cedula"
                        value="{{paciente.cedula}}" class="form-control form-control-sm" readonly></div>
                <div class="col-sm-3"><span class="small"><b>Nombres</b></span><input type="text" name="nombres"
                        value="{{nombres}}" class="form-control form-control-sm" readonly></div>
                <div class="col-sm-3"><span class="small"><b>Entidad</b></span><input type="text" id="eps"
                        value="{{entidad.rsocial}}" class="form-control form-control-sm" readonly>
                    <input type="hidden" id="entidad" value="{{entidad.nit}}"></div>
                <div class="col-sm-2"><button class="btn btn-success btn-sm btn-block mt-4"><i class='fas fa-save'
                            style='font-size:16px'></i> Guardar</button></div>
                <div class="col-sm-2"><a href="#" class="btn btn-warning btn-sm btn-block mt-4" data-toggle="modal"
                        data-target="#bitacora"><i class='fas fa-notes-medical' style='font-size:16px'></i> Bitacora</a>
                </div>
                <input type="hidden" name="id" value="{{_id}}" class="form-control form-control-sm">
            </div>
            {{/each}}

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="a" href="#"><b>Motivo de consulta</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="b" href="#"><b>Enfermedad Actual</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="c" href="#"><b>Antecedentes</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="d" href="#"><b>Examen fisco</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="e" href="#"><b>Paraclinicos</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="h" href="#" onclick="MostrarCie();"><b>Imp diagnostica</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="f" href="#"><b>Plan</b></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="g" href="#" onclick="completarMedicamentos()"><b>Receta</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="i" href="#" onclick="consultarTarifas()"><b>Ordenes</b></a>
                </li>
            </ul>
            <div id="msg"></div>           
            <div class="padre">
                <div class="form-group hijo" style="visibility: visible;">
                    <textarea name="motivo" id="motivo" class="form-control" cols="30" rows="5"
                        placeholder="Motivo de la Consulta" required></textarea>
                </div>
                <div class="form-group hijo" style="visibility: hidden;  position: relative; top: 1%;">
                    <textarea name="actual" id="actual" class="form-control" cols="30" rows="5"
                        placeholder="Enfermedad Actual" required></textarea>
                </div>
                <div class="form-group hijo" style="visibility: hidden;">
                    <div class=" m-3" id="antecedentes">
                        <div class="row">
                            <div class="col-sm-12"><span class="small"><b>Medicos</b></span> <textarea name="medicos"
                                    id="medicos" class="form-control form-control-sm" cols="30" rows="2"
                                    placeholder="Medicos"></textarea></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><span class="small"><b>Quirurgico</b></span> <textarea
                                    name="quirurgico" id="quirurgico" class="form-control form-control-sm" cols="30"
                                    rows="2" placeholder="Quirurgico"></textarea></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><span class="small"><b>Farmacologico/Toxico</b></span> <textarea
                                    name="toxico" id="toxico" class="form-control form-control-sm" cols="30" rows="2"
                                    placeholder="Toxico"></textarea></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><span class="small"><b>Traumatico</b></span> <textarea
                                    name="traumatico" id="traumatico" class="form-control form-control-sm" cols="30"
                                    rows="2" placeholder="Traumatico"></textarea></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><span class="small"><b>Familiares</b></span> <textarea
                                    name="familiares" id="familiares" class="form-control form-control-sm" cols="30"
                                    rows="2" placeholder="Familiares"></textarea></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><span class="small"><b>Otros</b></span> <textarea name="otros"
                                    id="otros" class="form-control form-control-sm" cols="30" rows="2"
                                    placeholder="Otros"></textarea></div>
                        </div>
                    </div>
                </div>
                <div class="form-group hijo" style="visibility: hidden;">

                    <div id="fisico">
                        <div class="row m-3">
                            <div class="col-sm-10"></div>
                            <div class="col-sm-2">
                                <a href="#" onclick="normalFisico()" class="btn btn-primary btn-sm btn-block">Paciente
                                    Normal</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><span class="small"><b>Nariz</b></span> <textarea name="nariz"
                                    id="nariz" class="form-control form-control-sm" cols="30" rows="2"
                                    placeholder="Nariz"></textarea></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><span class="small"><b>Cavidad oral</b></span> <textarea name="boca"
                                    id="boca" class="form-control form-control-sm" cols="30" rows="2"
                                    placeholder="Cavidad oral"></textarea></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><span class="small"><b>Orofaringe</b></span> <textarea
                                    name="orofaringe" id="orofaringe" class="form-control form-control-sm" cols="30"
                                    rows="2" placeholder="Orofaringe"></textarea></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><span class="small"><b>laringoscopia Indirecta</b></span> <textarea
                                    name="laringoscopia" id="laringoscopia" class="form-control form-control-sm"
                                    cols="30" rows="2" placeholder="laringoscopia Indirecta"></textarea></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><span class="small"><b>Cuello</b></span> <textarea name="cuello"
                                    id="cuello" class="form-control form-control-sm" cols="30" rows="2"
                                    placeholder="Cuello"></textarea></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><span class="small"><b>Oido Derecho</b></span> <textarea
                                    name="oidoderecho" id="oidoderecho" class="form-control form-control-sm" cols="30"
                                    rows="2" placeholder="Oido Derecho"></textarea></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><span class="small"><b>Oido Izquierdo</b></span> <textarea
                                    name="oidoIzquierdo" id="oidoIzquierdo" class="form-control form-control-sm"
                                    cols="30" rows="2" placeholder="Oido Izquierdo"></textarea></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><span class="small"><b>Otros</b></span> <textarea name="otrosfisico"
                                    id="otrosfisico" class="form-control form-control-sm" cols="30" rows="2"
                                    placeholder="Otros"></textarea></div>
                        </div>
                    </div>
                </div>
                <div class="form-group hijo" style="visibility: hidden;">
                    <textarea name="clinico" id="clinico" class="form-control" cols="30" rows="5"
                        placeholder="Paraclinicos" required></textarea>
                </div>
                <div class="form-group hijo" style="visibility: hidden;">
                    <textarea name="plan" id="plan" class="form-control" cols="30" rows="5" placeholder="plan"
                        required></textarea>
                </div>
                <div class="form-group hijo" style="visibility: hidden;">
                    <div id="terapeutico">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="row mb-2">
                                    <div class="col-sm-8">
                                        <span><b>Medicamento</b></span>
                                        <input type="text" class="form-control form-control-sm medicamentos"
                                            id="medicamento" name="medicamento" placeholder="Medicamentos">
                                    </div>
                                    <div class="col-sm-4">
                                        <span><b>Cantidad</b></span>
                                        <input type="text" class=" form-control form-control-sm" id="cant" name="cant"
                                            placeholder="Cantidad">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <span><b>Uso</b></span>
                                        <input type="text" class=" form-control form-control-sm" id="uso" name="uso"
                                            placeholder="Uso">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 mt-4">
                                <div class="col-sm-4 mt-3 ml-0 mr-0">
                                    <a href="#" class="btn btn-success btn-sm btn-block" onclick="AgregarMed()"><b><i
                                                class='fas fa-plus' style='font-size:20px'></i></b></a>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="recetaJson" name="recetaJson">
                        <div class="card" id="vreseta"></div>

                    </div>



                </div>
                <div class="form-group hijo" style="visibility: hidden;">
                    <div id="impdiag">
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="small"><b>Diagnostico Pricipal</b></span>
                                <input type="text" class="form-control form-control-sm tags" name="dg" id="dg"
                                    placeholder="Diagnostico Principal">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm tags" name="dg2" id="dg2"
                                    placeholder="Diagnostico Diagnostico segundarios">
                            </div>
                            <div class="col-sm-4">
                                <a href="#" class="btn btn-primary btn-sm" onclick="AgregarCie()">+</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="impdiag" id="impd" class="form-control" cols="30" rows="5"
                                placeholder="Otros diagnostico"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group hijo" style="visibility: hidden;">
                    <div id="ordenes">
                        <div class="row mb-2">
                            <div class="col-sm-10">
                                <span class="small"><b>Consultas/Procedimientos</b></span>
                                <input type="text" id="ccups" name="ccups"
                                    class="completarcups form-control form-control-sm" placeholder="Examen/Consulta">
                            </div>
                            <div class="col-sm-2">
                                <a href="#" class="btn btn-success btn-sm mt-3" onclick="addcups()"><b>+</b></a>
                            </div>
                        </div>
                        <textarea name="ordenes" id="ord" class="form-control" cols="30" rows="5" placeholder="Ordenes"
                            ></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
<!-- Modal -->
<div class="modal fade" id="bitacora" tabindex="-1" role="dialog" aria-labelledby="bitacoraLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bitacoraLabel">HISTORIAL MEDICO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Codigo</th>
                            <th scope="col">fecha</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each hc}}
                        <tr>
                            <th>{{codigo}}</th>
                            <td>{{fecha}}</td>
                            <td>{{#if tipo}}HC{{else}}CONTROL{{/if}}</td>
                            <td><a href="#" class="btn btn-primary bn-sm" onclick="colocarHc('{{_id}}')"
                                    data-dismiss="modal">ver</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
            </div>
        </div>
    </div>
</div>