<table class="table table-striped m-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">Cedula</th>
      <th scope="col">Nombres</th>
      <th scope="col">Tipo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
      {{#each valores}}
      <input type="hidden" value="{{codigo}}" id="cdhc">
    <tr>     
      <th scope="row">{{codigo}}</th>
      <tH>{{fecha}}</tH>
      <td>{{cedula}}</td>
      <td>{{nombres}}</td>    
      <td>{{#if tipo}}H.CLINICA{{else}}CONTROL{{/if}}</td>
      <td><a href="/imprimirhc/{{codigo}}" class="btn btn-primary btn-sm"><i class="fas fa-file-medical" style="font-size: 20px;"></i></a>
      <a href="/receta/{{codigo}}" class="btn btn-warning btn-sm"><i class="fas fa-capsules" style="font-size: 20px;"></i></a>
      <a href="/orden/{{codigo}}" class="btn btn-success btn-sm"><i class="	fas fa-user-md" style="font-size: 20px;"></i></a>
      <a href="#" class="btn btn-primary btn-sm" onclick="enviarEmail()"><i class="far fa-envelope" style="font-size: 20px;"></i></a>
      </td>
     
    </tr>
    {{/each}}

  </tbody>
</table>